@{
    ViewData["Title"] = "Home Page";
}

<b>myAppSetting:</b> @ViewData["apiKey"]<br />

<<<<<<< HEAD
=======

>>>>>>> upstream/master
<div id="movieGrid" class="container-fluid">

</div>
